/* Add styling to the summary section */
details summary {
  background-color: $expand-background;
  cursor: pointer; /* Change cursor to pointer for better user experience */
  color: $white;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 700; /* Make the summary text bold */
  padding: 15px;
  max-width: 1000px;

  &::before {
    background-color: $expand-font-color-hover;
  }

  &:hover {
    background-color: $expand-font-color-hover;
    color: $primary-color;
  }
}

/* Style for the content section with class markdown-inner */
.markdown-inner {
  font-size: 16px;
  line-height: 1.8;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 100px;
  padding-bottom: 5px;
}

/* Style for the content when the tab is open */
details[open] .markdown-inner {
  background-color: transparent; /* Change background color when tab is open */
}

.exclude-margin-bottom {
  margin-bottom: 0;
}
