// Color Variables
// $primary-color: #ffbc3b;
$primary-color: #1c2641;
// $primary-color: #ffe6cb;
// $secondary-color: #1a1a37;
$secondary-color: #1c2641;
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$text-color-green: #43AF2A;
/* $body-color: #ffffff; */
$body-color: #fae6cb;
$border-color: #1e1e4b;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;
$hover: #ff911a;
// $expand-font-color: #595959;
$expand-font-color: #6689a9;
// $expand-font-color-hover: #85754D;
$expand-font-color-hover: #003B70;
// $expand-background: #DEDBC1;
$expand-background: #F3F4F4;
$cta-color: #D8EFEF;
$button: #5f77ba;

// Font Variables
$primary-font: 'Lora', sans-serif;
$secondary-font: 'Lora';
$icon-font: 'themify';
