// Color Variables
$primary-color: #263459;
$secondary-color: #263459;
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$text-color-green: #43AF2A;
$body-color: #fae6cb;
$border-color: #1e1e4b;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;
$hover: #44A148;
$expand-font-color: #6689a9;
$expand-font-color-hover: #CCCCCC;
$expand-background: #292d33;
$cta-color: #D8EFEF;
$button: #1c2641;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto';
$icon-font: 'themify';
